@using EtAndHkIde.Infrastructure
@model IEnumerable<EtAndHkIde.Infrastructure.PageMetadata>

<div class="list-group list-group-flush">
    @foreach (var pageMetadata in Model)
    {
        <a asp-page="@pageMetadata.Path" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    @if (pageMetadata.Tags.Contains(TagValues.Featured))
                    {
                        <i class="@Icons.ForTag(TagValues.Featured)" title="Highlight page"></i>
                    }
                    @pageMetadata.Title
                </h5>
                @if (pageMetadata.PublishDate.HasValue)
                {
                    <small>@pageMetadata.PublishDate.Value.ToShortDateString()</small>
                }
            </div>
            <p class="mb-1">@pageMetadata.Description</p>
        </a>
    }
</div>
