@model EtAndHkIde.Infrastructure.PageMetadata

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">
            <a asp-page="@Model.Path">
                @Model.Title
            </a>
        </h5>
        <div class="text-muted text-right">
            <small title="publish date">@Model.PublishDate.ToShortDateString()</small>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Description.HasValue())
        {
            <p class="card-text">@Model.Description</p>
        }
        @if (Model.PreviewQuote.HasValue())
        {
            <blockquote class="blockquote m-2">
                <i class="fas fa-quote-left text-muted mr-2"></i>
                @Html.Raw(Model.PreviewQuote)
                <i class="fas fa-quote-right text-muted ml-2"></i>
            </blockquote>
        }
    </div>
    @if (Model.PreviewImage.HasValue())
    {
        <img src="@Model.PreviewImage" class="card-img-bottom" />
    }
</div>
