@using EtAndHkIde.Infrastructure
@model IEnumerable<EtAndHkIde.Infrastructure.ImageMetadata>
@{
    // todo improve unique key
    var lightboxId = Guid.NewGuid().ToString().Substring(0, 8);
}

<div class="card-columns">
    @foreach (var image in Model)
    {
        <div class="card">
            <a href="@image.Path" data-lightbox="@lightboxId">
                <img class="card-img-top" src="@image.ThumbnailPath" alt="@image.Description" />
            </a>
            @if (image.Description.HasValue() || image.Copyright.HasValue())
            {
                <div class="card-body">
                    @if (image.Description.HasValue())
                    {
                        <p class="card-text">@image.Description</p>
                    }
                    @if (image.Copyright.HasValue())
                    {
                        <p><cite>@image.Copyright</cite></p>
                    }
                </div>

            }
        </div>
    }
</div>
