@model IEnumerable<EtAndHkIde.Infrastructure.FileMetadata>
@{
    var carouselId = Guid.NewGuid();
    var imageCount = Model.Count();
}

<div id="@carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < imageCount; i++)
        {
            <li data-target="#@carouselId" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var image in Model)
        {
            <div class="carousel-item @(image == Model.First() ? "active" : "")">
                <img class="d-block img-fluid w-100" src="@image.Path" />
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#@carouselId" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#@carouselId" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
