@using EtAndHkIde.Infrastructure
@model EtAndHkIde.Infrastructure.PageMetadata
<p>
    @if (Model.Tags.Contains(Tag.Featured))
    {
        <i class="tag-type @Tag.Featured.TagType.Icon" title="Featured page"></i>
    }
    @Model.Description
</p>
<p>Published @Model.PublishDate?.ToShortDateString()</p>
@if (Model.Citation != null)
{
    <p>
        <partial name="_Citation" model="Model.Citation"/>
    </p>
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <ul class="list-group list-group-flush">
            @foreach (var tag in Model.Tags)
            {
                <li class="list-group-item">
                    <a asp-page="/Tags" asp-route-tag="@tag.NormalizedName">
                        <i class="@tag.TagType.Icon mr-1 tag-type"></i>@tag.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
