@using EtAndHkIde.Infrastructure
@model EtAndHkIde.ViewComponents.PageMetadataViewModel
<p>
    @if (Model.Page.Tags.Contains(Tag.Featured))
    {
        <i class="tag-type @Tag.Featured.TagType.Icon" title="Featured page"></i>
    }
    @Model.Page.Description
</p>
<p>Published @Model.Page.PublishDate?.ToShortDateString()</p>
@if (Model.Page.Citation != null)
{
    <p>
        <partial name="_Citation" model="Model.Page.Citation"/>
    </p>
}
@if (Model.RelatedPages.Any())
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Related Pages</h5>
            <ul class="list-group list-group-flush">
                @foreach (var relatedPage in Model.RelatedPages)
                {
                    <li class="list-group-item">
                        <a asp-page="@relatedPage.Path">@relatedPage.Title</a>
                        <br/>
                        <small>@relatedPage.Description</small>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <ul class="list-group list-group-flush">
            @foreach (var tag in Model.Page.Tags)
            {
                <li class="list-group-item">
                    <a asp-page="/Tags" asp-route-tag="@tag.NormalizedName">
                        <i class="@tag.TagType.Icon mr-1 tag-type"></i>@tag.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
