@using EtAndHkIde.Infrastructure
@using Microsoft.AspNetCore.Http.Extensions
@model EtAndHkIde.ViewComponents.PageMetadataViewModel
<p>
    @if (Model.Page.Tags.Contains(TagValues.Featured))
    {
        <i class="@Icons.ForTag(TagValues.Featured) mr-1" title="Featured"></i>
    }
    @Model.Page.Description
</p>
<p>
    @if (Model.Page.PublishDate.HasValue)
    {
        @:Published @Model.Page.PublishDate?.ToShortDateString()
    }
    else
    {
        <div class="alert alert-warning">
            <i class="fas fa-edit mr-1"></i>Unpublished
        </div>
    }
</p>
@if (Model.Page.Citation != null)
{
    <p>
        <partial name="_Citation" model="Model.Page.Citation" />
    </p>
}
@if (Model.Page.PublishDate.HasValue)
{
    <p>
        @* Note this won't work on localhost *@
        <a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.GetEncodedUrl()" target="_blank">
            <i class="fab fa-facebook-square mr-1"></i>Share on Facebook
        </a>
    </p>
}
@if (Model.RelatedPages.Any())
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Related Pages</h5>
            <ul class="list-group list-group-flush">
                @foreach (var relatedPage in Model.RelatedPages)
                {
                    <li class="list-group-item">
                        <a asp-page="@relatedPage.Path">@relatedPage.Title</a>
                        <br />
                        <small>@relatedPage.Description</small>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
            <span>Tags</span>
            <i class="@Icons.Tags"></i>
        </h5>
        <ul class="list-group list-group-flush">
            @foreach (var tag in Model.Page.Tags)
            {
                <li class="list-group-item">
                    <a asp-page="/Tags" asp-route-tag="@tag">
                        <i class="@Icons.ForTag(tag) mr-1"></i>@tag
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
