@using EtAndHkIde.Infrastructure
@using Microsoft.AspNetCore.Http.Extensions
@model EtAndHkIde.Infrastructure.IPageMetadata
<p>
    @if (Model.Tags.Contains(TagValues.System.Featured))
    {
        <i class="@Icons.ForTag(TagValues.System.Featured) mr-1" title="Featured"></i>
    }
    @Model.Description
</p>
<p>
    @if (Model.PublishDate.HasValue)
    {
        @:Published @Model.PublishDate?.ToShortDateString()
    }
    else
    {
        <div class="alert alert-warning">
            <i class="fas fa-edit mr-1"></i>Unpublished
        </div>
    }
</p>
@if (Model.Citation != null)
{
    <p>
        <partial name="_Citation" model="Model.Citation" />
    </p>
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
            <span>Tags</span>
            <i class="@Icons.Tags"></i>
        </h5>
        <ul class="list-group list-group-flush">
            @foreach (var tag in Model.Tags)
            {
                <li class="list-group-item">
                    <a asp-page="/Tags" asp-route-tag="@tag">
                        <i class="@Icons.ForTag(tag) mr-1"></i>@tag
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
