@page
@model EtAndHkIde.Pages.LightingTheVillageModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="alert alert-info">
    <p>This post describes the electrification of St. Johnsbury streets in 1889, and a proposal by E. T. &amp; H. K. Ide to install and power the lights from the water power in Passumpsic. It's interesting to think "what if?" but in some respects supplying power was an important part of the business anyway--the Ides sold power to a neighboring business, the water power was eventually sold for a favorable price, and coal became a lucrative part of the business.</p>
    <p>The most interesting part of this post, to me, is the letter E. T. &amp; H. K. Ide sent to the Caledonian because it provides some details about the water power and how it worked to power the mill, and reveals that the mill and water power were very under-utilized because a planned flouring mill had not been installed.</p>
    <blockquote class="blockquote">
        <p>The year before our mill burned in 1883 we had put in a new flume, of 4 and 6 inch plank, and attached to it were four iron water wheels. Also we had a place prepared and new race-way built for another and larger wheel which we have never utilized, but in which a water wheel could be “set” in two days time.</p>
    </blockquote>
</div>

<p>St. Johnsbury residents used hand lanterns to light their way until the first street lanterns were erected by a few business owners in 1867. By the close of the 1870s, 110 kerosene street lights run by the village illuminated St. Johnsbury streets. In 1880, fifteen streets were lit and a lamplighter was required to light and extinguish the lamps.</p>
<p>
    <img class="float-right" src="/pages/LightingTheVillage/thomson-houston-arc-lamp.jpg" alt="Thomson-Houston arc lamp" />
</p>
<p>In June of 1888, the village of St. Johnsbury was authorized by voters to light the streets at an annual cost not to exceed $1,300. The <a href="https://en.wikipedia.org/wiki/Thomson-Houston_Electric_Company" target="_blank">Thomson-Houston company</a> made the only bid on the project and the village agreed on a contract with them in November. The bid specified that the village would be lit by 33 <a href="https://en.wikipedia.org/wiki/Arc_lamp" target="_blank">arc lights</a> for the first year, and 20 for the second and third, with any additional lights costing $70 per year. The lights were to be powered by power generated at the Water Power company's new dam, and were to be lit "on all dark evenings, regardless of the phases of the moon, from dark until midnight." Although the contract had not yet been signed, by November 22 the Thomson-Houston company was in St. Johnsbury to locate the sites for each light and begin the work of installing them.</p>
<p>Just one week later, the tone of the article in the Caledonian was very different: "When the craze for the electric light has passed by, the sober sensible citizen will discover that he is paying extremely dear for his whistle. In fact a good many realize this already, and are not backward in declaring it an expensive and needless luxury." The article goes on to discuss high taxes, an argument that will be very familiar to Vermonters today, and points out that two village trustees were owners of the water power company, and stood to benefit from supplying power for the lights.</p>
<p>The following week, the Caledonian reported in "Electric Lights on the Wane" that <a href="https://en.wikipedia.org/wiki/Jonathan_Ross_(senator)" target="_blank">Judge Jonathan Ross</a> had served an injunction preventing the village from fulfilling the contract with the Thomson-Houston company. Despite the injunction, "the Thomson-Houston folks have gone along with their work as though nothing had happened, putting up lamps and making ready for the stringing of the wires." A special village meeting was called for Dec. 27 to allow the village to vote on ratification of the contract. The Caledonian made no secret of its position: "Either the sober sense and judgment of the tax payers will prevail and the village will refuse to ratify the action of the trustees, or the "boys" will "whoop 'er up" and the whole thing will go through with considerable rush and no judgment."</p>
<p>At the special village meeting on Dec. 27, Judge Ross opened the discussion by reminding voters of the taxes they were paying to finance the waterworks, and caused the crowd to hiss when he said "Typhoid fever has come into the families where this water was used. … This is not strange considering that the sewage of the Lyndons, the Centre and part of the Paddock village empty directly into the river." In closing his remarks, he read a statement from E. T. &amp; H. K. Ide:</p>
<blockquote>
    <p>Having a large surplus of water power to dispose of and never having been asked by the trustees to furnish power for the electric lights  for this village, we make the following offer: We will furnish all the lights needed in the streets of the village of St. Johnsbury as follows, viz., 20 arc lights of nominal 2000 candle power each for $1000 per year. All further lamps needed to properly light the streets at $45 each, per year. The light generated to be equal in every respect to the light of the Thomson-Houston company of the same capacity so called. The contract to run no less than three years. The time and manner of running the lights to be the same as called for in the alleged contract between the trustees and Thomson-Houston company. if 34 lamps are needed we will furnish them all for the first year for $1200. We are prepared to furnish suitable bond if contract is awarded us.</p>
</blockquote>
<p>Judge Ross advocated for a committee to evaluate the options, but <a href="https://en.wikipedia.org/wiki/Henry_C._Bates" target="_blank">Senator Bates</a>' argument that "Whenever anything has been done some cynic will say that it ought to have been different or that he could have done it better. Let's move along and do something. This contract is better than the rest of the towns have got and it is a short-sighted policy not to ratify it." carried the day as the vote was overwhelmingly in favor (301 to 80) to ratify the contract with Thomson-Houston. The Jan. 3, 1889 edition of the Caledonian also included a letter from E. T. &amp; H. K. Ide, reproduced below.</p>
<p>Although the Ides' proposal was late and they may not have had the political connections needed, the water power eventually did provide power to the town. After the mill was destroyed by fire in 1904, the water power was sold to St. Johnsbury Electric Company for the handsome sum of $15,000 and Green Mountain Power operates a hydroelectric plant there to this day.</p>
<hr />
<h2>LETTER FROM E. T. &amp; H. K. IDE.</h2>
<p>Their Offer of Village Lighting Still Open</p>
<p>To The Editor of the Caledonian:</p>
<p>We understand that there are some people who believe (or pretend to believe) that we are not in a condition to furnish electric lighting to the village of St. Johnsbury, and that our offer, made the 27th of December, was not intended for acceptance but only for effect on that meeting. In view of the above we desire to submit the following statement:</p>
<p>The Ides have owned a valuable water power at Passumpsic for the last 75 years or more. The present firm have owned it for 22 years. There is at that place a natural rock dam, requiring a very small wooden dam to turn the water into the flume and having a fall of 25 feet. The danger from ice and freshet is almost nothing. Considering the amount of water, the great amount of fall, and the small expense of the dam, it is one of the best in the state. We own about one-half of this power.</p>
<p>The year before our mill burned in 1883 we had put in a new flume, of 4 and 6 inch plank, and attached to it were four iron water wheels. Also we had a place prepared and new race-way built for another and larger wheel which we have never utilized, but in which a water wheel could be “set” in two days time. The flume rests on the solid rock, as does the mill. When the mill was burned it left our new flume and wheels uninjured comparatively. In 1884 we erected on this site a new and strong building of three high stories besides the wheel pit and half story at top of the building. It is 30x55 feet and measures about 70 feet from the water to the ridge-pole. It was intended for a custom and feed mill and a roller process flouring mill. We have not put in the flouring machinery and consequently do not occupy one-half of the room in the mill in our business. Neither do we use one-half of the power that we own, and we sell or rent the balance of the water, not needed by us, to the pulp mill at a rental of $250 per year. We have no doubt but that this excess of water, rented to Mr. Cushman is amply sufficient to furnish all of the electric light or power wanted in the village. Mr. Cushman offered to release us from the contract with him for this purpose. Also in our old mill we had and used four water wheels, but in our new mill we are using only three wheels. The fourth one sets in the wheel-pit, with gate attached, and can be started in five minutes. The wheel would furnish sufficient power for 35 arc lamps, such as are proposed to be used in this village.</p>
<p>We are aware that a water power is valuable, but only so if it can be set to work. We are getting some income from it but not nearly as much as we ought and we desire to get more out of it. We say that, aside from the fact of the frozen ground interfering with the setting of poles, we are in condition to furnish electric light here sooner than the one now proposing to do it.</p>
<p>Our offer was made in good faith, without consultation with other parties here, and is still open. We hope it will be accepted, and we are prepared to give bonds in the sum of $10,000 with good signers, that we will carry out our part of the contract. The subject of bringing our power from Passumpsic to St. Johnsbury is not new with us. Several years ago we made some investigations at Sutherland Falls (Proctor) where the power to operate the drills in the marble quarries originates at the Falls, and is conveyed to the quarries in iron pipes as compressed air, but this seemed too expensive.</p>
<p>About electricity, the information we received seemed to show that it was too expensive to carry it so far, and that the loss of power was great. This fall <a href="http://www.machine-history.com/Brush%20Electric%20Company" target="_blank">the Brush company</a> (a much older one than the T-H.) sent us some circulars, and Saturday, Dec. 22, their agent, Mr. Bradley, stopped over here for one train, and came to see us. He informed us that they were now carrying electricity, for lights and power, a distance of 18 miles with perfect success. He stated that the loss of power from the water wheel to the dynamo was about 10 percent. The loss from the dynamo till delivered at St. Johnsbury would be about 10 percent more, so that of the actual power of the water wheel more than 80 percent of it could be delivered in St. Johnsbury. He also gave us an estimate of the cost of the plant (exclusive of the power to run it), which included all of the latest improvements, including the hanging of the arc lamps at about the centre of the streets. The figures were so low that if we could procure the acceptance of our offer, as made to the village, and secure a reasonable amount of commercial lighting, it would make a use for our comparatively un-used power, which would be more profitable to us than any other business that we have engaged in.</p>
<p>In consideration of the fact that it would have saved the village at least $2400, in the three years, we are unable to see the force or reason of the statement made by a voter after the meeting of Dec. 27th that “they would raise hell with the Ides at the annual meeting.” Inasmuch as the village owes us nothing, and we owe the village nothing, and as we are not village office-holders and do not want to be, we don’t quite see how it can be done.</p>
<p>E. T. &amp; H. K. Ide.</p>
<p>Dec. 29, '88</p>

<h3>Sources</h3>
<ul class="list-unstyled">
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Book, "https://books.google.com/books?id=vrU3AQAAIAAJ&amp;lpg=PA464&amp;ots=lsF_lszNUG&amp;dq=johnsbury%20lighting%201889&amp;pg=PA463#v=onepage&amp;q&amp;f=false", "The Town of St. Johnsbury"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-11-15/ed-1/seq-1/", "St. Johnsbury Caledonian, November 15, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-11-22/ed-1/seq-1/", "St. Johnsbury Caledonian, November 22, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-11-29/ed-1/seq-1/", "St. Johnsbury Caledonian, November 29, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-12-06/ed-1/seq-1/", "St. Johnsbury Caledonian, December 6, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-12-13/ed-1/seq-1/", "St. Johnsbury Caledonian, December 13, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1888-12-20/ed-1/seq-1/", "St. Johnsbury Caledonian, December 20, 1888"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1889-01-03/ed-1/seq-1/", "St. Johnsbury Caledonian, January 3, 1889"))" />
    </li>
    <li>
        <partial name="_Citation" model="@(new Citation(CitationType.Newspaper, "http://chroniclingamerica.loc.gov/lccn/sn84023253/1905-07-05/ed-1/seq-1/", "St. Johnsbury Caledonian, July 5, 1905"))" />
    </li>
</ul>
