@page
@using EtAndHkIde.ViewComponents
@model EtAndHkIde.Pages.SiteIndexModel
@{
    Layout = "Shared/_NoSidebarLayout";
    ViewData["Title"] = "Site Index";
}
@section Head{
    <script>
        $(document).ready(function() {
            // get height of first panel and set as min height of other panels
            // can't set to max height because they're hidden with display:none
            var firstHeight = $("#page-list div.collapse").first().height();
            $("#page-list div.collapse").css("min-height", firstHeight);
        });
    </script>
}

<h1>@ViewData["Title"]</h1>

<nav>
    <ul class="pagination">
        @for (var i = 0; i < Model.PageMetadataPages.Count(); i++)
        {
            <li class="page-item @(i == 0 ? "active" : "")">
                <a class="page-link" href="#page-@i" data-toggle="collapse">@(i + 1)</a>
            </li>
        }
    </ul>
</nav>

<div id="page-list">
    @for (var i = 0; i < Model.PageMetadataPages.Count(); i++)
    {
        <div class="collapse @(i == 0 ? "show" : "")" id="page-@i" data-parent="#page-list">
            <partial name="_PageListCard" model="@(new PageListCardViewModel(Model.PageMetadataPages.ElementAt(i)))" />
        </div>
    }
</div>
